*{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
:root{
  --primary-color: rgb(211, 233, 122);
}
.hero {
	height: 100vh;
	width: 100%;
	background-image: url('images/background2.jpg');
	background-size: cover;
	background-position: 40% 30%;
	background-position-x: 58px;
	padding: 0;
	margin: 0;
}
.content{
  padding-top: 100px;
  padding-left: 20px;
  position: absolute;
}

.content h1{
  font-size: 56px;
  font-family: "Playfair Display", serif;
  color: var(--primary-color);
}
h2{
  color: #fff;
}
.content p{
  font-size: 19px;
  padding-bottom: 30px;
  color: #fff;

}
.content img{
padding-right: 20px;
}
a input{
  background-color: var(--primary-color);
  text-decoration: none;
 border: 2px solid transparent;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 30px;
      transition: transform 0.4s;
      margin-right: 10px;
    }
.projects h1{
  color: rgb(151, 175, 53);
}
